template(name="palace_show")
  .actionbar
    .container
      .pull-left
        img.avatar.img-circle(src="{{avatar user._id}}")
      | The Palace of
      h1.page-header
        .title {{username user._id}}      
      .links
        ul.list-inline
          li
            a(href="#projects") Projects
          li
            a(href="#friends") Friends
          if canEdit
            li.pull-right
              a(href="/palace/#{user._id}/settings") Settings
          else
            li.pull-right
              a(href="/give/#{user._id}") Give Credits              
            li.pull-right
              if userHasFriendship
                with userHasFriendship
                  a.btn-unfriend(title='Unfriend' href="#")
                    i.fa.fa-child
                    i.fa.fa-child
                    |  You are friends!
              else
                a.btn-befriend(title='Add friend' href="#")
                  i.fa.fa-child
                  |  Add as a friend
  .container                  
    if projects
      section.projects(id='projects')
        h2 Projects
        ul.list-inline
          if canEdit
            li
              a(href="/projects/new") Add a project
          li
            a(href="/projects/#{user._id}/completed") Completed Projects
        each projects
          .row      
            .col-sm-6
              a(href="/projects/#{_id}") {{name}}
            .col-sm-6
              if date
                a(href="/projects/#{_id}") {{formatDate date}}
              

    if project_participations
      section.helping
        h2 Helping
        ul.list-unstyled
          each project_participations
            li
              a(href="/projects/#{_id}")
                | {{name}}
                |  at 
                img.avatar.avatar-sm.img-circle(src="{{avatar userId}}")
                | {{username userId}}'s Palace
                if date
                  |  on {{formatDate date}}

    if owes_tokens
      section.owes
        h2 Time owed to friends
        ul.list-inline
          each owes_tokens
            li
              a(href="/palace/#{toUserId}")
                img.avatar.avatar-sm.img-circle(src="{{avatar userId}}")
                | {{username userId}} owes 
                img.avatar.avatar-sm.img-circle(src="{{avatar toUserId}}")
                | {{username toUserId}}
                | {{amount}} hours

    if owed_tokens
      section.owed
        h2 Friends awaiting reciprocation
        ul.list-inline
          each owed_tokens
            li
              a(href="/palace/#{userId}")
                img.avatar.avatar-sm.img-circle(src="{{avatar userId}}")
                | {{username userId}} owes 
                img.avatar.avatar-sm.img-circle(src="{{avatar toUserId}}")
                | {{username toUserId}}                
                | {{amount}} hours

    if friends
      section.friends(id='friends')
        h2 Friends
        ul.list-inline
          each friends
            li
              a(href="/palace/#{_id}")
                img.avatar.avatar-sm.img-circle(src="{{avatar _id}}")
                | {{username _id}}
                
    section.friend_comments
      hr
      .row
        .col-md-6.col-md-offset-3
          .comments_container
            +comment_list
