template(name="friend_show")
  .friend_show
    {{avatar email}}
    | The Palace of
    h1.page-header
      .title
        {{username _id}}

    hr

    if projects
      section.projects
        h2 Projects
        ul.list-unstyled
          each projects
            li
              a(href="/projects/#{_id}")
                =name
              if date
                |  on {{formatDate date}}

    if project_participations
      section.helping
        h2 Helping
        ul.list-unstyled
          each project_participations
            li
              a(href="/projects/#{_id}")
                {{name}}
                |  at {{username userId}}'s Palace
                if date
                  |  on {{formatDate date}}


    if friends
      section.friends
        h2 Friends
        ul.list-inline
          each friends
            li
              a(href="/friends/#{_id}")
                {{username _id}}


    if owes_tokens
      section.owes
        h2 Time owed to friends
        ul.list-inline
          each owes_tokens
            li
              a(href="/friends/#{toUserId}")
                {{username userId}} owes {{username toUserId}}:
                {{amount}}

    if owed_tokens
      section.owed
        h2 Friends awaiting reciprocation
        ul.list-inline
          each owed_tokens
            li
              a(href="/friends/#{userId}")
                {{username userId}} owes {{username toUserId}}:
                {{amount}}

    section.give
      hr
      .row
        .col-md-6
          if canEdit
            a.btn.btn-default(href="/projects/#{_id}/edit") Edit
          else
            if userHasFriendship
              with userHasFriendship
                .btn.btn-default.btn-unfriend(title='Unfriend')
                  i.fa.fa-child
                  i.fa.fa-child
                  |  You are friends!
            else
              .btn.btn-primary.btn-befriend
                i.fa.fa-child
                |  Add as a friend
        .col-md-6
          {{> token_give}}

    section.friend_comments
      hr
      .row
        .col-md-6.col-md-offset-3
          .comments_container
            +comment_list
